<div class="statusBar">
    <div>
      <%= link_to image_tag(asset_path('back-arrow-icon.svg'), class: 'backIcon'), unauthenticated_root_path %>
    </div>
    <div>
      <p class="statusBarTitle">
    Sign In
    </p>
    </div>
  <div>
  </div>
</div>
<div class="loginFormContainer">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "loginForm") do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "formField" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", class: "formField" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="newCategoryBtnContainer">
    <%= f.submit "Log in", class: "addCategoryBtnB" %>
  </div>
<% end %>
</div>

