<%= form_with model: @categorie, local: true do |f| %>
  <div class="statusBar">
    <div>
      <%= link_to image_tag(asset_path('back-arrow-icon.svg'), class: 'backIcon'), root_path %>
    </div>
    <div>
      <p class="statusBarTitle">
    Add New Category
    </p>
    </div>
    <% if user_signed_in? %>
    <div>
      <%= button_to 'SIGN OUT', destroy_user_session_path, method: :delete, data: {turbo: false}, class: 'link-white' %>
    </div>
  <% end %>
    </div>
    <div class="newCategoryBtnContainer">
      <%= f.submit "SAVE", data: {turbo: false}, class: "addCategoryBtnB" %>
    </div>
  </div>
  <div class="formFieldsContainer">
  <%= f.text_field :name, placeholder: 'Name', class: 'formField' %>
  <%= f.text_field :icon, placeholder: 'Image URL', class: 'formField' %>
  </div>
<% end %>